<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'guiziweb.ui.customer'|trans }}</div>
    <div class="col-12 col-md-8">
        {% if hookable_metadata.context.resource.customer is not null %}
            <a href="{{ path('sylius_admin_customer_show', {'id': hookable_metadata.context.resource.customer.id}) }}">
                {{ hookable_metadata.context.resource.customer.email }}
            </a>
        {% else %}
            <span class="text-muted">{{ 'guiziweb.ui.anonymous'|trans }}</span>
        {% endif %}
    </div>
</div>