<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.created_at'|trans }}</div>
    <div class="col-12 col-md-8">{{ hookable_metadata.context.resource.createdAt|format_datetime('medium', 'short') }}</div>
</div>
<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.updated_at'|trans }}</div>
    <div class="col-12 col-md-8">{{ hookable_metadata.context.resource.updatedAt|format_datetime('medium', 'short') }}</div>
</div>